In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [2]:
df1 = pd.read_csv('kolkata2017-2022.csv')
df1.head()

,Unnamed: 0,Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,...,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
0,0,kolkata,01/01/2017 00:00:00,62.6,62.6,62.6,59.0,88.01,NaN,0.0,...,1.2,0.0,1015.0,Mist,22.5705,88.3712,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
1,1,kolkata,01/01/2017 01:00:00,60.8,60.8,60.8,59.0,93.79,NaN,0.0,...,1.2,0.0,1015.0,Mist,22.5705,88.3712,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
2,2,kolkata,01/01/2017 02:00:00,63.1,63.1,63.1,60.4,90.99,NaN,0.0,...,0.6,0.0,1015.4,"Mist, Fog",22.5705,88.3712,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
3,3,kolkata,01/01/2017 03:00:00,60.8,60.8,60.8,59.0,93.79,NaN,5.8,...,0.6,0.0,1014.0,Mist,22.5705,88.3712,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
4,4,kolkata,01/01/2017 04:00:00,59.0,59.0,59.0,57.2,93.75,NaN,0.0,...,1.2,0.0,1014.0,Mist,22.5705,88.3712,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear

In [3]:
# Split the 'Date time' column into two separate columns for date and time
df1[['Date', 'Time']] = df1['Date time'].str.split(' ', expand=True)

# Print the first 5 rows (optional) to verify splitting
df1.head()

,Unnamed: 0,Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,...,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions,Date,Time
0,0,kolkata,01/01/2017 00:00:00,62.6,62.6,62.6,59.0,88.01,NaN,0.0,...,1015.0,Mist,22.5705,88.3712,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear,01/01/2017,00:00:00
1,1,kolkata,01/01/2017 01:00:00,60.8,60.8,60.8,59.0,93.79,NaN,0.0,...,1015.0,Mist,22.5705,88.3712,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear,01/01/2017,01:00:00
2,2,kolkata,01/01/2017 02:00:00,63.1,63.1,63.1,60.4,90.99,NaN,0.0,...,1015.4,"Mist, Fog",22.5705,88.3712,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear,01/01/2017,02:00:00
3,3,kolkata,01/01/2017 03:00:00,60.8,60.8,60.8,59.0,93.79,NaN,5.8,...,1014.0,Mist,22.5705,88.3712,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear,01/01/2017,03:00:00
4,4,kolkata,01/01/2017 04:00:00,59.0,59.0,59.0,57.2,93.75,NaN,0.0,...,1014.0,Mist,22.5705,88.3712,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear,01/01/2017,04:00:00

In [4]:
# Assuming your DataFrame is named 'df1' and the date column is named 'Date time'
df1['Date time'] = pd.to_datetime(df1['Date time'])  # Convert strings to datetime objects
print(df1.dtypes)  # Verify the data type has changed

Unnamed: 0                      int64
Address                        object
Date time              datetime64[ns]
Minimum Temperature           float64
Maximum Temperature           float64
Temperature                   float64
Dew Point                     float64
Relative Humidity             float64
Heat Index                    float64
Wind Speed                    float64
Wind Gust                     float64
Wind Direction                float64
Wind Chill                    float64
Precipitation                 float64
Precipitation Cover           float64
Snow Depth                    float64
Visibility                    float64
Cloud Cover                   float64
Sea Level Pressure            float64
Weather Type                   object
Latitude                      float64
Longitude                     float64
Resolved Address               object
Name                           object
Info                          float64
Conditions                     object
Date                           object
Time                           object
dtype: object

In [5]:
df1['Day of Week'] = df1['Date time'].dt.strftime('%A')  # Full day name (Monday, Tuesday, etc.)
# Alternatively, use '%a' for abbreviated day names (Mon, Tue, etc.)
df1.head()

,Unnamed: 0,Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,...,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions,Date,Time,Day of Week
0,0,kolkata,2017-01-01 00:00:00,62.6,62.6,62.6,59.0,88.01,NaN,0.0,...,Mist,22.5705,88.3712,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear,01/01/2017,00:00:00,Sunday
1,1,kolkata,2017-01-01 01:00:00,60.8,60.8,60.8,59.0,93.79,NaN,0.0,...,Mist,22.5705,88.3712,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear,01/01/2017,01:00:00,Sunday
2,2,kolkata,2017-01-01 02:00:00,63.1,63.1,63.1,60.4,90.99,NaN,0.0,...,"Mist, Fog",22.5705,88.3712,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear,01/01/2017,02:00:00,Sunday
3,3,kolkata,2017-01-01 03:00:00,60.8,60.8,60.8,59.0,93.79,NaN,5.8,...,Mist,22.5705,88.3712,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear,01/01/2017,03:00:00,Sunday
4,4,kolkata,2017-01-01 04:00:00,59.0,59.0,59.0,57.2,93.75,NaN,0.0,...,Mist,22.5705,88.3712,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear,01/01/2017,04:00:00,Sunday

In [6]:
data_full=df1[['Unnamed: 0','Date','Time','Day of Week','Temperature','Dew Point','Relative Humidity','Wind Speed','Wind Direction','Precipitation','Visibility','Cloud Cover','Weather Type','Conditions']]

In [7]:
df2=df1[['Day of Week','Time','Precipitation','Visibility','Cloud Cover','Conditions']]

In [8]:
df2.head()

  Day of Week      Time  Precipitation  Visibility  Cloud Cover Conditions
0      Sunday  00:00:00            0.0         1.2          0.0      Clear
1      Sunday  01:00:00            0.0         1.2          0.0      Clear
2      Sunday  02:00:00            0.0         0.6          0.0      Clear
3      Sunday  03:00:00            0.0         0.6          0.0      Clear
4      Sunday  04:00:00            0.0         1.2          0.0      Clear

In [9]:
df2['Time'] = pd.to_datetime(df2['Time']).dt.hour
df2.head()

C:\Users\SAMPRIT SAHA\AppData\Local\Temp\ipykernel_32348\3108610486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Time'] = pd.to_datetime(df2['Time']).dt.hour

  Day of Week  Time  Precipitation  Visibility  Cloud Cover Conditions
0      Sunday     0            0.0         1.2          0.0      Clear
1      Sunday     1            0.0         1.2          0.0      Clear
2      Sunday     2            0.0         0.6          0.0      Clear
3      Sunday     3            0.0         0.6          0.0      Clear
4      Sunday     4            0.0         1.2          0.0      Clear

In [10]:
df2.rename(columns={'Day of Week':'day','Time':'time','Precipitation':'precipitation','Visibility':'visibility','Cloud Cover':'cloud','Conditions':'condition'},inplace= True)

C:\Users\SAMPRIT SAHA\AppData\Local\Temp\ipykernel_32348\1837322530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.rename(columns={'Day of Week':'day','Time':'time','Precipitation':'precipitation','Visibility':'visibility','Cloud Cover':'cloud','Conditions':'condition'},inplace= True)

In [11]:
df2.head()

      day  time  precipitation  visibility  cloud condition
0  Sunday     0            0.0         1.2    0.0     Clear
1  Sunday     1            0.0         1.2    0.0     Clear
2  Sunday     2            0.0         0.6    0.0     Clear
3  Sunday     3            0.0         0.6    0.0     Clear
4  Sunday     4            0.0         1.2    0.0     Clear

In [12]:
dummies = pd.get_dummies(df2.day)
dummies

       Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
0           0       0         0       1         0        0          0
1           0       0         0       1         0        0          0
2           0       0         0       1         0        0          0
3           0       0         0       1         0        0          0
4           0       0         0       1         0        0          0
...       ...     ...       ...     ...       ...      ...        ...
52695       0       0         1       0         0        0          0
52696       0       0         1       0         0        0          0
52697       0       0         1       0         0        0          0
52698       0       0         1       0         0        0          0
52699       0       0         0       1         0        0          0

[52700 rows x 7 columns]

In [13]:
merge = pd.concat([df2,dummies],axis='columns')
merge

,day,time,precipitation,visibility,cloud,condition,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,Sunday,0,0.0,1.2,0.0,Clear,0,0,0,1,0,0,0
1,Sunday,1,0.0,1.2,0.0,Clear,0,0,0,1,0,0,0
2,Sunday,2,0.0,0.6,0.0,Clear,0,0,0,1,0,0,0
3,Sunday,3,0.0,0.6,0.0,Clear,0,0,0,1,0,0,0
4,Sunday,4,0.0,1.2,0.0,Clear,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52695,Saturday,20,0.0,1.2,8.2,Clear,0,0,1,0,0,0,0
52696,Saturday,21,0.0,1.2,0.0,Clear,0,0,1,0,0,0,0
52697,Saturday,22,0.0,0.6,0.0,Clear,0,0,1,0,0,0,0
52698,Saturday,23,0.0,0.6,30.0,Partially cloudy,0,0,1,0,0,0,0
52699,Sunday,0,0.0,0.6,0.0,Clear,0,0,0,1,0,0,0

In [14]:
dummies2 = pd.get_dummies(df2.condition)
dummies2

,Clear,Overcast,Partially cloudy,Rain,"Rain, Overcast","Rain, Partially cloudy"
0,1,0,0,0,0,0
1,1,0,0,0,0,0
2,1,0,0,0,0,0
3,1,0,0,0,0,0
4,1,0,0,0,0,0
...,...,...,...,...,...,...
52695,1,0,0,0,0,0
52696,1,0,0,0,0,0
52697,1,0,0,0,0,0
52698,0,0,1,0,0,0
52699,1,0,0,0,0,0

In [15]:
merge2 = pd.concat([merge,dummies2],axis='columns')
merge2

,day,time,precipitation,visibility,cloud,condition,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Clear,Overcast,Partially cloudy,Rain,"Rain, Overcast","Rain, Partially cloudy"
0,Sunday,0,0.0,1.2,0.0,Clear,0,0,0,1,0,0,0,1,0,0,0,0,0
1,Sunday,1,0.0,1.2,0.0,Clear,0,0,0,1,0,0,0,1,0,0,0,0,0
2,Sunday,2,0.0,0.6,0.0,Clear,0,0,0,1,0,0,0,1,0,0,0,0,0
3,Sunday,3,0.0,0.6,0.0,Clear,0,0,0,1,0,0,0,1,0,0,0,0,0
4,Sunday,4,0.0,1.2,0.0,Clear,0,0,0,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52695,Saturday,20,0.0,1.2,8.2,Clear,0,0,1,0,0,0,0,1,0,0,0,0,0
52696,Saturday,21,0.0,1.2,0.0,Clear,0,0,1,0,0,0,0,1,0,0,0,0,0
52697,Saturday,22,0.0,0.6,0.0,Clear,0,0,1,0,0,0,0,1,0,0,0,0,0
52698,Saturday,23,0.0,0.6,30.0,Partially cloudy,0,0,1,0,0,0,0,0,0,1,0,0,0
52699,Sunday,0,0.0,0.6,0.0,Clear,0,0,0,1,0,0,0,1,0,0,0,0,0

In [16]:
df4=merge2.drop(['day','Saturday','condition','Rain'],axis='columns')

In [17]:
df4

,time,precipitation,visibility,cloud,Friday,Monday,Sunday,Thursday,Tuesday,Wednesday,Clear,Overcast,Partially cloudy,"Rain, Overcast","Rain, Partially cloudy"
0,0,0.0,1.2,0.0,0,0,1,0,0,0,1,0,0,0,0
1,1,0.0,1.2,0.0,0,0,1,0,0,0,1,0,0,0,0
2,2,0.0,0.6,0.0,0,0,1,0,0,0,1,0,0,0,0
3,3,0.0,0.6,0.0,0,0,1,0,0,0,1,0,0,0,0
4,4,0.0,1.2,0.0,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52695,20,0.0,1.2,8.2,0,0,0,0,0,0,1,0,0,0,0
52696,21,0.0,1.2,0.0,0,0,0,0,0,0,1,0,0,0,0
52697,22,0.0,0.6,0.0,0,0,0,0,0,0,1,0,0,0,0
52698,23,0.0,0.6,30.0,0,0,0,0,0,0,0,0,1,0,0
52699,0,0.0,0.6,0.0,0,0,1,0,0,0,1,0,0,0,0

In [18]:
df5=df4[['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','time','precipitation','visibility','cloud','Clear','Overcast','Partially cloudy','Rain, Overcast','Rain, Partially cloudy']]

In [19]:
df5

,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,time,precipitation,visibility,cloud,Clear,Overcast,Partially cloudy,"Rain, Overcast","Rain, Partially cloudy"
0,1,0,0,0,0,0,0,0.0,1.2,0.0,1,0,0,0,0
1,1,0,0,0,0,0,1,0.0,1.2,0.0,1,0,0,0,0
2,1,0,0,0,0,0,2,0.0,0.6,0.0,1,0,0,0,0
3,1,0,0,0,0,0,3,0.0,0.6,0.0,1,0,0,0,0
4,1,0,0,0,0,0,4,0.0,1.2,0.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52695,0,0,0,0,0,0,20,0.0,1.2,8.2,1,0,0,0,0
52696,0,0,0,0,0,0,21,0.0,1.2,0.0,1,0,0,0,0
52697,0,0,0,0,0,0,22,0.0,0.6,0.0,1,0,0,0,0
52698,0,0,0,0,0,0,23,0.0,0.6,30.0,0,0,1,0,0
52699,1,0,0,0,0,0,0,0.0,0.6,0.0,1,0,0,0,0

In [20]:
traffic_categories = [0, 1, 2] #Here we have considered 0=low ,1= medium ,2=heigh traffic
weights = [0.3, 0.4, 0.3]
traffic_data = random.choices(traffic_categories, weights=weights, k=52700)

df_traffic = pd.DataFrame({'Traffic': traffic_data})
df_traffic.index = range(len(df_traffic))
df_traffic

       Traffic
0            1
1            2
2            2
3            1
4            2
...        ...
52695        2
52696        0
52697        2
52698        0
52699        0

[52700 rows x 1 columns]

In [21]:
df = pd.merge(df5,df_traffic,left_index=True,right_index=True)
df

,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,time,precipitation,visibility,cloud,Clear,Overcast,Partially cloudy,"Rain, Overcast","Rain, Partially cloudy",Traffic
0,1,0,0,0,0,0,0,0.0,1.2,0.0,1,0,0,0,0,1
1,1,0,0,0,0,0,1,0.0,1.2,0.0,1,0,0,0,0,2
2,1,0,0,0,0,0,2,0.0,0.6,0.0,1,0,0,0,0,2
3,1,0,0,0,0,0,3,0.0,0.6,0.0,1,0,0,0,0,1
4,1,0,0,0,0,0,4,0.0,1.2,0.0,1,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52695,0,0,0,0,0,0,20,0.0,1.2,8.2,1,0,0,0,0,2
52696,0,0,0,0,0,0,21,0.0,1.2,0.0,1,0,0,0,0,0
52697,0,0,0,0,0,0,22,0.0,0.6,0.0,1,0,0,0,0,2
52698,0,0,0,0,0,0,23,0.0,0.6,30.0,0,0,1,0,0,0
52699,1,0,0,0,0,0,0,0.0,0.6,0.0,1,0,0,0,0,0

In [22]:
df.dropna(inplace=True)

Data prep is done now we will start model building

In [23]:
from sklearn.preprocessing import StandardScaler

In [24]:
scaler = StandardScaler()

In [25]:
scaler.fit(df.drop('Traffic',axis=1))

StandardScaler()

In [26]:
scaled_features = scaler.transform(df.drop('Traffic',axis=1))

In [27]:
X = df.drop(['Traffic'], axis='columns')
y = df.Traffic

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [29]:
len(X_train)

41458

In [30]:
len(X_test)

10365

In [31]:
knn = KNeighborsClassifier(n_neighbors=50)

In [32]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=50)

In [33]:
knn.score(X_test, y_test)

0.3718282682103232

In [34]:
acc=[]
for i in range(1,300,2):
    knn = KNeighborsClassifier(n_neighbors=i)
    new_score=knn.fit(X_train, y_train)
    acc.append(knn.score(X_test, y_test))
    print( i,"------------>", knn.score(X_test, y_test))

1 ------------> 0.33815726000964785
3 ------------> 0.33535938253738545
5 ------------> 0.3414375301495417
7 ------------> 0.34819102749638203
9 ------------> 0.3429811866859624
11 ------------> 0.349831162566329
13 ------------> 0.3525325615050651
15 ------------> 0.3536903039073806
17 ------------> 0.35918958031837916
19 ------------> 0.3580318379160637
21 ------------> 0.3627592860588519
23 ------------> 0.3598649300530632
25 ------------> 0.361794500723589
27 ------------> 0.362469850458273
29 ------------> 0.3616015436565364
31 ------------> 0.3616980221900627
33 ------------> 0.3649782923299566
35 ------------> 0.3625663289917993
37 ------------> 0.3633381572600097
39 ------------> 0.3688374336710082
41 ------------> 0.3686444766039556
43 ------------> 0.368451519536903
45 ------------> 0.36739025566811384
47 ------------> 0.3668113844669561
49 ------------> 0.36999517607332366
51 ------------> 0.3729860106126387
53 ------------> 0.3739507959479016
55 ------------> 0.37144235407621806
57 ------------> 0.37076700434153403
59 ------------> 0.37028461167390253
61 ------------> 0.37250361794500725
63 ------------> 0.3750120598166908
65 ------------> 0.3736613603473227
67 ------------> 0.3712493970091655
69 ------------> 0.36999517607332366
71 ------------> 0.373082489146165
73 ------------> 0.37260009647853354
75 ------------> 0.3718282682103232
77 ------------> 0.3712493970091655
79 ------------> 0.373757838880849
81 ------------> 0.3728895320791124
83 ------------> 0.37250361794500725
85 ------------> 0.3766521948866377
87 ------------> 0.37433671008200675
89 ------------> 0.3765557163531114
91 ------------> 0.376748673420164
93 ------------> 0.3780028943560058
95 ------------> 0.37703810902074286
97 ------------> 0.3754944524843222
99 ------------> 0.37867824409068984
101 ------------> 0.3808972503617945
103 ------------> 0.38244090689821514
105 ------------> 0.3836951278340569
107 ------------> 0.38128316449589966
109 ------------> 0.38253738543174143
111 ------------> 0.3836951278340569
113 ------------> 0.385045827303425
115 ------------> 0.3844669561022672
117 ------------> 0.3838880849011095
119 ------------> 0.3863000482392668
121 ------------> 0.38755426917510855
123 ------------> 0.3851423058369513
125 ------------> 0.3845634346357935
127 ------------> 0.38417752050168835
129 ------------> 0.3847563917028461
131 ------------> 0.38437047756874093
133 ------------> 0.3859141341051616
135 ------------> 0.3862035697057405
137 ------------> 0.3877472262421611
139 ------------> 0.38842257597684515
141 ------------> 0.3868789194404245
143 ------------> 0.3859141341051616
145 ------------> 0.38668596237337194
147 ------------> 0.38658948383984565
149 ------------> 0.38581765557163533
151 ------------> 0.3860106126386879
153 ------------> 0.38861553304389773
155 ------------> 0.3872648335745297
157 ------------> 0.3889049686444766
159 ------------> 0.38948383984563434
161 ------------> 0.38948383984563434
163 ------------> 0.3890014471780029
165 ------------> 0.3888084901109503
167 ------------> 0.3898697539797395
169 ------------> 0.38919440424505547
171 ------------> 0.3905451037144235
173 ------------> 0.3905451037144235
175 ------------> 0.39353593825373856
177 ------------> 0.3917993246502653
179 ------------> 0.3932465026531597
181 ------------> 0.39372889532079114
183 ------------> 0.3920887602508442
185 ------------> 0.3921852387843705
187 ------------> 0.39459720212252775
189 ------------> 0.39440424505547517
191 ------------> 0.3939218523878437
193 ------------> 0.39199228171731787
195 ------------> 0.3924746743849494
197 ------------> 0.3939218523878437
199 ------------> 0.39276410998552824
201 ------------> 0.3921852387843705
203 ------------> 0.39199228171731787
205 ------------> 0.3920887602508442
207 ------------> 0.3917993246502653
209 ------------> 0.3943077665219489
211 ------------> 0.39633381572600096
213 ------------> 0.3951760733236855
215 ------------> 0.39536903039073806
217 ------------> 0.3948866377231066
219 ------------> 0.3947901591895803
221 ------------> 0.39565846599131693
223 ------------> 0.39469368065605404
225 ------------> 0.3943077665219489
227 ------------> 0.3943077665219489
229 ------------> 0.3947901591895803
231 ------------> 0.39546550892426435
233 ------------> 0.3961408586589484
235 ------------> 0.39556198745779064
237 ------------> 0.39401833092137
239 ------------> 0.39546550892426435
241 ------------> 0.39662325132657983
243 ------------> 0.397009165460685
245 ------------> 0.3958514230583695
247 ------------> 0.39749155812831644
249 ------------> 0.3948866377231066
251 ------------> 0.3959479015918958
253 ------------> 0.39652677279305354
255 ------------> 0.39546550892426435
257 ------------> 0.3960443801254221
259 ------------> 0.39623733719247467
261 ------------> 0.3958514230583695
263 ------------> 0.3949831162566329
265 ------------> 0.3971056439942113
267 ------------> 0.3952725518572118
269 ------------> 0.3942112879884226
271 ------------> 0.3958514230583695
273 ------------> 0.3958514230583695
275 ------------> 0.3951760733236855
277 ------------> 0.39643029425952725
279 ------------> 0.3960443801254221
281 ------------> 0.39546550892426435
283 ------------> 0.39556198745779064
285 ------------> 0.39643029425952725
287 ------------> 0.39556198745779064
289 ------------> 0.3971056439942113
291 ------------> 0.39643029425952725
293 ------------> 0.3975880366618427
295 ------------> 0.3985528219971056
297 ------------> 0.39826338639652675
299 ------------> 0.4000964785335263

In [35]:
acc

[0.33815726000964785,
 0.33535938253738545,
 0.3414375301495417,
 0.34819102749638203,
 0.3429811866859624,
 0.349831162566329,
 0.3525325615050651,
 0.3536903039073806,
 0.35918958031837916,
 0.3580318379160637,
 0.3627592860588519,
 0.3598649300530632,
 0.361794500723589,
 0.362469850458273,
 0.3616015436565364,
 0.3616980221900627,
 0.3649782923299566,
 0.3625663289917993,
 0.3633381572600097,
 0.3688374336710082,
 0.3686444766039556,
 0.368451519536903,
 0.36739025566811384,
 0.3668113844669561,
 0.36999517607332366,
 0.3729860106126387,
 0.3739507959479016,
 0.37144235407621806,
 0.37076700434153403,
 0.37028461167390253,
 0.37250361794500725,
 0.3750120598166908,
 0.3736613603473227,
 0.3712493970091655,
 0.36999517607332366,
 0.373082489146165,
 0.37260009647853354,
 0.3718282682103232,
 0.3712493970091655,
 0.373757838880849,
 0.3728895320791124,
 0.37250361794500725,
 0.3766521948866377,
 0.37433671008200675,
 0.3765557163531114,
 0.376748673420164,
 0.3780028943560058,
 0.37703810902074286,
 0.3754944524843222,
 0.37867824409068984,
 0.3808972503617945,
 0.38244090689821514,
 0.3836951278340569,
 0.38128316449589966,
 0.38253738543174143,
 0.3836951278340569,
 0.385045827303425,
 0.3844669561022672,
 0.3838880849011095,
 0.3863000482392668,
 0.38755426917510855,
 0.3851423058369513,
 0.3845634346357935,
 0.38417752050168835,
 0.3847563917028461,
 0.38437047756874093,
 0.3859141341051616,
 0.3862035697057405,
 0.3877472262421611,
 0.38842257597684515,
 0.3868789194404245,
 0.3859141341051616,
 0.38668596237337194,
 0.38658948383984565,
 0.38581765557163533,
 0.3860106126386879,
 0.38861553304389773,
 0.3872648335745297,
 0.3889049686444766,
 0.38948383984563434,
 0.38948383984563434,
 0.3890014471780029,
 0.3888084901109503,
 0.3898697539797395,
 0.38919440424505547,
 0.3905451037144235,
 0.3905451037144235,
 0.39353593825373856,
 0.3917993246502653,
 0.3932465026531597,
 0.39372889532079114,
 0.3920887602508442,
 0.3921852387843705,
 0.39459720212252775,
 0.39440424505547517,
 0.3939218523878437,
 0.39199228171731787,
 0.3924746743849494,
 0.3939218523878437,
 0.39276410998552824,
 0.3921852387843705,
 0.39199228171731787,
 0.3920887602508442,
 0.3917993246502653,
 0.3943077665219489,
 0.39633381572600096,
 0.3951760733236855,
 0.39536903039073806,
 0.3948866377231066,
 0.3947901591895803,
 0.39565846599131693,
 0.39469368065605404,
 0.3943077665219489,
 0.3943077665219489,
 0.3947901591895803,
 0.39546550892426435,
 0.3961408586589484,
 0.39556198745779064,
 0.39401833092137,
 0.39546550892426435,
 0.39662325132657983,
 0.397009165460685,
 0.3958514230583695,
 0.39749155812831644,
 0.3948866377231066,
 0.3959479015918958,
 0.39652677279305354,
 0.39546550892426435,
 0.3960443801254221,
 0.39623733719247467,
 0.3958514230583695,
 0.3949831162566329,
 0.3971056439942113,
 0.3952725518572118,
 0.3942112879884226,
 0.3958514230583695,
 0.3958514230583695,
 0.3951760733236855,
 0.39643029425952725,
 0.3960443801254221,
 0.39546550892426435,
 0.39556198745779064,
 0.39643029425952725,
 0.39556198745779064,
 0.3971056439942113,
 0.39643029425952725,
 0.3975880366618427,
 0.3985528219971056,
 0.39826338639652675,
 0.4000964785335263]

In [36]:
for i in range(0,len(acc)):
    if acc[i]==max(acc):
        print("Maximum Accuracy is appearing when k =",i,"------>",max(acc))

Maximum Accuracy is appearing when k = 149 ------> 0.4000964785335263